<div class="container">
<h1><%=title%></h1>
About ME!

<h3> Name: Janelle-Nicole Forbes</h3>

<img src="./public/content/images/me.jpg" alt="my profile"/>
<p>
Hi, thanks for visiting my portfolio. First, I'd like to introduce myself. My name is Janelle-Nicole
and I am a student attending centennial College, pursuing an advanced diploma in Software Engineering Technology, with
a specialization in Artificial intelligence. I am looking to develop my skills in computer tech. to eventually 
immerse myself in the world of technology. I am a team player, hard worker, and have a strong work ethic and desire to learn.
Aside from developing my skills, I have a passion for art, and the outdoors. I appreciate you taking the time to get to know me. 
I hope you enjoy my content!
</p>

<h3>My resume can be found here:</h3>
<a href="/COMP229-F2022-WEEK2-LAB-301224539/public/content/files/Janelle-Nicole Forbes Resume.pdf" >Resume Here</a>
</div>