<div class="container">
<h1><%=title%></h1>
Welcome to my Personal Portfolio!

<body>
    <h2>Mission Statement</h2>
    <p>
        To develop my web application skills to create and inspire throughout my career journey.
    </p>
</body>

</div>