<div class="container">
    <h1><%=title%></h1>
My Projects

<p>
    Below are the list of projects I am currently/previously worked on:
</p>
<ul>
    <li>
        This is to be completed soon. No current projects underway
    </li>
</ul>
</div>