<div class="container">
    <h1><%=title%></h1>
My Services

<ul>
    <li>Web development <i class="fa-solid fa-desktop"> </i></li>
    <li> General programming <i class="fa-solid fa-keyboard"></i></li>
    <li>Program debugging <i class="fa-solid fa-laptop-file"></i></li>
</ul>
</div>